[submodule "swift"]
	path = swift
	url = https://github.com/mervick/aes-everywhere-swift
	branch = master

[submodule "java"]
	path = java
	url = https://github.com/mervick/aes-everywhere-java
	branch = master
